{{!-- List of current posts on the Blog Spot website --}}
<div>
    {{#each posts}}
    <a href="/posts/{{id}}">
    <h2>{{title}}</h2>
    </a>
    <p>{{content}}</p>
    <p>Created by: {{user.name}} on {{format_date date_created}}</p>

    {{/each}}
</div>

{{!-- I am expecting this code to render each of the post for the users of the Blog Spot like a home page on a social 
media application such as Twitter(X) or Facebook --}}