{{!-- Renders a users profile --}}
{{#each posts}}
<div class="card mb-3">
    <div class="userPost">
        <div class="card-header">
            <h2>{{title}}</h2>
        </div>
        <div class="card-body">
            <p>{{content}}</p>
            <p>Created on: {{format_date date_created}}</p>
        </div>
    </div>
</div>
{{/each}}

{{!-- Allows for a user to add comments to their post if they are logged in --}}
<input id="postId" type="hidden" value="{{id}}">
  {{#each comments}}
  <div class="card comment mt-3">
    <div class="card-body">
      <p class="card-text fs-4">{{content}}</p>
       <p class="card-text">Created By: <a class="text-decoration-none text-dark" href="/users/{{user.id}}">{{user.name}}</a> on
      {{format_date date_created}}</p>
    </div>
   {{/each}}
  </div>
<div class="card mt-3">
  {{#if logged_in}}
  <form id="addComment">
    <div class="input-group input-group-sm ">
      <button id="comment-btn" type="submit" class="btn btn-primary">Add Comment</button>
      <input id="commentInput" type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm">
    </div>
  </form>
  {{else}}
  <h5 class="fs-4 fw-bold">You must be logged in to add a comment</h5>
  {{/if}}
</div>

{{!-- Allows a user that is logged in to create a new post --}}
{{#if logged_in}}
<h3>Create a new post</h3>
<form id="newPost" class="form project-form">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Content:</label>
        <input type="text" class="form-control" id="content" placeholder="Content">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
{{else}}
<p>You must be logged in to create a new post</p>
{{/if}}
<script src="/js/post.js"></script>
<script src="/js/commentBtn.js"></script>