<div class="card">
  <div class="card-header fs-4 fw-bolder">
    {{title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
    <p class="card-text">Created By: <a class="text-decoration-none text-dark" href="/users/{{user.id}}">{{user.name}}</a> on
      {{format_date date_created}}</p>
  </div>
  <input id="postId" type="hidden" value="{{id}}">
  {{#each comments}}
  <div class="card comment">
    <div class="card-header">
    </div>
    <div class="card-body">
      <p class="card-text">{{content}}</p>
       <p class="card-text">Created By: <a class="text-decoration-none text-dark" href="/users/{{user.id}}">{{user.name}}</a> on
      {{format_date date_created}}</p>
    </div>
  </div>
  {{/each}}
  {{#if logged_in}}
  <form id="addComment">
    <div class="input-group input-group-sm mb-3">
      <button id="comment-btn" type="submit" class="btn btn-primary">Add Comment</button>
      <input id="commentInput" type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm">
    </div>
  </form>
  {{else}}
  <p>You must be logged in to add a comment</p>
  {{/if}}
</div>
<script src="/js/commentBtn.js"></script>